{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Manuel Yoseph Ray</title>

</head>
<body>
    <div class="toggle-container">
        <input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label> 
        </div>
    <h1 class="header"><center>Hai</center></h1>
    <div class ="container">
    <button class="accordion">Aktivitas</button>
    <div class="panel">
        <ul>
                <li>Vice Person in Charge divisi Equipment and Security</li>
                <li>Mahasiswa Fakultas Ilmu Komputer Universitas Indonesia</li>
        </ul>
    </div>
    <button class="accordion">Pengalaman Organisasi/Kepanitiaan</button>
    <div class="panel">
        <ul>
                <li>Staff divisi Stage Compfest 2019</li>
                <li>Staff divisi Acara Wisuda Genap Fakultas Ilmu Komputer 2018/2019</li>
                <li>Staff divisi Acara Retret Keluarga Fasilkom 2019</li>
        </ul>
    </div>
    <button class="accordion">Prestasi</button>
    <div class="panel">
        <ul>
                <li>Peserta Olimpiade Sains Nasional bidang Astronomi tingkat Provinsi DKI Jakarta</li>
        </ul>
    </div>
</div>
        
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for(i = 0; i < acc.length; i++){
            acc[i].addEventListener("click", function(){
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if(panel.style.maxHeight){
                    panel.style.maxHeight = null;
                }
                else{
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
        var checkbox = document.querySelector('input[name=theme]')
        checkbox.addEventListener('change', function(){
            if(this.checked){
                trans()
                document.documentElement.setAttribute('data-theme', 'dark')
            }
            else{
                trans()
                document.documentElement.setAttribute('data-theme', 'light')
            }
        })
        let trans = () => {
            document.documentElement.classList.add('transition');
            window.setTimeout(() => {
                document.documentElement.classList.remove('transition')
            }, 1000)
        }
    </script>
    
 
</body>

</html>