html{
    background-color: aquamarine;
    align-items: center;
    justify-items: center;
    --bg: #FCFCFC;
    --color-headings: #527e6a;
    --color-text: #333333;
}
html[data-theme='dark'] .accordion{
    background-color:wheat;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid white;
    transition: 0.4s;
    font: 20px Lato, sans-serif;
    outline: none ;
}

html .accordion{
    background-color:#8FB7A5;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid white;
    transition: 0.4s;
    font: 20px Lato, sans-serif;
    outline: none ;
}

.header{
    font-family: Arial, Helvetica, sans-serif;;
}
.panel{
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

p{
    font: 16px Lato, sans-serif;
}
html[data-theme='dark'] .active, .accordion:hover{
    background-color: peachpuff;
}
.active, .accordion:hover{
    background-color: #527e6a;
}
.accordion:after{
    content: '\02795';
    font-size: 15px;
    float: right;
    margin-left: 5px;
}
.active:after{
    content: '\2796'
}

html[data-theme='dark']{
    background-color: peachpuff;
    align-items: center;
    justify-items: center;
    --bg: peachpuff;
    --color-headings: peachpuff;
    --color-text: #b5b5b5;
}

body{
    background-color: var(--bg-panel);
}

.panel{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: var(--bg-panel);
    margin: 5em;
    border-radius: 15px;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title switch"
        "content content"     
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label{
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: aquamarine;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px; 
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label{
    background: var(--color-headings);
}

input:checked + label:after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after{
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

